@import "../../mixins.scss";

$color_1: #111;
$color_2: #fff;
$font-family_1: "Arial";
:root {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 50px;
  --button-color: var(--border-color);
  --tooltip-color: var(--first-color);
}

main.container {
  max-width: 1140px;
  margin-inline: auto;
}

.about__container {
  max-width: 1140px;
  margin-inline: auto;
}

section {
  padding-block: 38px;

  .section__title {
    font-size: var(--big-font-size);
    font-weight: var(--weight-800);
    text-align: center;
    margin-bottom: 38px;
    color: var(--title-color);

    span {
      color: var(--first-color);
    }
  }
  .Sec_Title {
    position: relative;
    color: hsl(0, 1%, 27%);
    margin: 10px;
  }
}

// info
.info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.InfoContent {
  flex: 1;
}

.info__image {
  flex: 1;
  text-align: center;
  img {
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    height: 100%;
  }
}

.stats__box {
  border: 1px solid var(--border-color);
  padding: 20px 30px 25px;
  border-radius: 5px;

  .stats__no {
    color: var(--first-color);
  }
}

.stats__box {
  border: 1px solid var(--container-color);
  border-radius: 15px;
  background-color: var(--container-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 110px;
  margin: 10px;
  overflow: hidden;
  .stats__no {
    color: var(--first-color);
  }
  .status_img {
    width: 50px;
    height: 50px;
    background-color: var(--border-color);
    padding: 5px;
    border-radius: 50%;
    margin: 10px;
  }
  .stats__title {
    font-size: 18px;
  }

  &:hover {
    transform: translateY(-7px);
    transition: all 0.7s ease-in-out;
    box-shadow: 0px 5px 10px rgba(0, 0 , 0.2);
  }
}

// cv btn
.CvBtn {
  width: var(--width);
  height: var(--height);
  background: var(--first-color);
  position: absolute;
  text-align: center;
  border-radius: 0.45em;
  font-family: $font-family_1;
  font-size: var(--smaller-font-size);
  cursor: pointer;
  transition: background 0.3s;
  &::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--first-color);
    font-size: 0.9rem;
    color: $color_2;
    border-radius: 0.25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }

  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--first-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }

  &:hover {
    background: var(--first-color);

    .text {
      top: -100%;
    }

    .icon {
      top: 0;
    }

    &:before {
      opacity: 1;
      visibility: visible;
      bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
    }

    &:after {
      opacity: 1;
      visibility: visible;
      bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
    }
  }
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: $color_2;
  top: 0;
  transition: top 0.5s;
}

.button-wrapper {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: $color_2;
}

.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: $color_2;
  transition: top 0.5s;
  color: $color_2;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 24px;
    height: 24px;
  }
}

// skills__container
.skills__container {
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 30px;
  row-gap: 48px;
}

// Switch Tabs
.switchingTabs {
  max-width: 100%;
  width: 205px;
  height: 40px;
  background-color: var(--container-color);
  border-radius: 20px;
  padding: 2px;
  .tabItems {
    display: flex;
    align-items: center;
    height: 35px;
    position: relative;
    .tabItem {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      color: var(--border-color);
      font-size: 14px;
      position: relative;
      z-index: 1;
      cursor: pointer;
      transition: color ease 0.3s;
    }
    .movingBg {
      height: 35px;
      width: 100px;
      border-radius: 25px;
      background: var(--first-color);
      position: absolute;
      left: 0;
      transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
    }
  }
}
// Skills images
.img {
  position: relative;

  .Skills_img {
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    background-color: var(--container-color);
    border-radius: 15px;
    margin: auto;
    padding: 15px;
    object-fit: cover;
  }

  &::before {
    position: absolute;
    content: attr(data-text);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--first-color);
    font-size: 0.9rem;
    color: var(--border-color);
    text-align: center;
    border-radius: 0.25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }

  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--first-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 5px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }

  &:hover {
    &::before {
      opacity: 1;
      visibility: visible;
      bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
    }
    &::after {
      opacity: 1;
      visibility: visible;
      bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
    }
  }
}

// Responsive
@media screen and (max-width: 1400px) {
  main.container {
    max-width: calc(100% - 180px);
  }
}

@media screen and (max-width: 1200px) {
  .skills__container {
    row-gap: 32px;
  }
  .skills__title {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1024px) {
  main.container {
    max-width: 720px;
  }
  .section {
    padding-block: 50px;
    .section__title {
      margin-bottom: 40px;
    }
  }

  .skills__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .subTitle {
    margin-bottom: 45px;
  }
  .skills__container {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 35px;
  }
  .info {
    flex-direction: column;
  }

  .InfoContent,
  .info__image {
    flex: 1;
    padding:5px 0;
  }

  .info__image img {
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  main.container {
    max-width: 540px;
  }
  .skills__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .stats__box {
    padding: 12px;
  }
}
