<<<<<<< HEAD
@import './mixins.scss';


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

html {
  scroll-behavior: smooth;
=======
@import './mixins.scss';


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

html {
  scroll-behavior: smooth;
>>>>>>> 61b7dec643d5f99903dc1bd44e8f63c4cfbbabc0
}