// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// css variables
:root {
  // colors
  //dark theme
  --first-color: hsl(271, 76%, 53%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 80%);
  --body-color: hsl(0, 0%, 7%);
  --container-color: hsl(0, 1%, 17%);
  --border-color: hsl(0, 0%, 87%);
  --text-white: #fff;

  // Font and typography
  --body-font: "Open Sans", sans-serif;
  --second-font: "Poppins", sans-serif;
  --big-font-size: 56px;
  --h1-font-size: 50px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --large-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 15px;
  --smaller-font-size: 14px;
  --tiny-font-size: 12px;
  // Font weight
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;

  // font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1200px) {
  :root {
    --big-font-size: 36px;
    --h1-font-size: 32px;
    --h2-font-size: 24px;
    --h3-font-size: 20px;
    --large-font-size: 16px;
    --normal-font-size: 15px;
    --small-font-size: 14px;
    --smaller-font-size: 13px;
    --tiny-font-size: 11px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-500);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--weight-700);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
textarea,
input {
  outline: none;
  border: none;
  background: transparent;
}

img {
  max-width: 100%;
}

::-webkit-scrollbar {
  display: none;
}
::selection {
  color: var(--container-color);
  background-color: var(--first-color);
}
