.Nav {
  inset-block: 0;
  right: 30px;
  z-index: 100;
  display: flex;
  align-items: center;
  position: fixed;
}

.Nav-item {
  cursor: pointer;
  margin-block: 20px;
  z-index: 1000;
}

.Nav-link {
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--container-color);
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.Nav-link:hover {
  background-color: var(--first-color);
}

.Nav-link:hover .nav-name {
  right: 27px;
  color: var(--text-white);
  opacity: 1;
  visibility: visible;
  border-radius: 30px 0 0 30px;
}

.Nav-link:hover .nav__icon {
  color: var(--text-white);
}

.nav__icon {
  color: var(--title-color);
  font-size: 20px;
  margin-inline: auto;
}

.nav-name {
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  line-height: 50px;
  background-color: var(--first-color);
  padding-inline: 30px 25px;
  border-radius: 30px;
  color: var(--text-white);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease;
}

.Nav-active {
  background-color: var(--first-color);
}

.Nav-active .nav__icon {
  color: var(--text-white);
}

.bars {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  pointer-events: none;
  top: 0;
}

@keyframes show {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes hide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.bars > div {
  background-color: var(--first-color);
  transform: translateX(-100%);
}

.bars .show > div {
  animation: show 0.2s both ease-in-out;
}
.mobile__menu {
  font-weight: 600;
  display: none;
}
.Menu_bar {
  display: none;
}

@media only screen and (max-width: 640px) {
  .Nav {
    all: unset;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100% !important;
    height: 80px !important;
    writing-mode: vertical-lr;
    z-index: 100;
    right: 0;
    bottom: 0;
    transform: translateY(0px);
    background: var(--container-color);
    border-radius: 22px 22px 0 0;
    backdrop-filter: blur(5px);
    transition: all 0.8s ease-in-out;
    &.bottom {
      background-color: var(--container-color);
      backdrop-filter: blur(3.5px);
      -webkit-backdrop-filter: blur(3.5px);
    }
    &.show {
      background-color: var(--container-color);
    }
    &.hide {
      background: transparent;
      transform: translateY(100px);
    }
  }

  .Nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
  }

  .Nav-item {
    transition: all 0.3s ease-in-out;
    }
   

  .Nav-active { 
    backdrop-filter: blur(5px);
    border-radius: 50%;
    background-color: var(--container-color)!important;
    .nav__icon{
      color: var(--first-color)!important;
      fill: var(--first-color)!important;
    }
    }
  .nav-name {
    display: none;
  }
}