@import "../../mixins.scss";

.Portfolio__container {
  max-width: 1140px;
  margin-inline: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.Portfolio_item {
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}

.Portfolio_img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.Portfolio_hover {
  background-color: transparent;
  backdrop-filter: blur(5px);
  inset: 0;
  place-items: center;
  transition: all 0.5s ease;
  opacity: 0;
}

.Portfolio_item:hover .Portfolio_hover {
  opacity: 1;
}
// category-buttons
.category-buttons button {
  background-color: var(--body-color);
  border: 1px solid var(--first-color);
  color: var(--first-color);
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 12px;
  margin: 0px 20px 40px 20px;
  font-size:var(--normal-font-size);
  font-weight: var(--weight-600);
  border-radius: 5px;
  transition: all 0.3s ease;
  &:hover {
    background-color: var(--first-color);
    color: var(--body-color);
  }
}

.category-buttons .active {
    background-color: var(--first-color);
    color: var(--body-color);
  } 

// Responsive
@media screen and (max-width: 1400px) {
  .Portfolio__container {
    max-width: calc(100% - 180px);
  }
}

@media screen and (max-width: 1200px) {
  .Portfolio_modal_content {
    max-width: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .Portfolio__container {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
  }
  .category-buttons button {
    margin: 0px 10px 40px 10px;
  }
}

@media screen and (max-width: 768px) {
  .Portfolio__container {
    max-width: 540px;
  }

  .Portfolio_modal_content {
    padding: 25px 20px;
  }

  .Close_modal {
    top: -9%;
    right: 0;
  }
}
@media screen and (max-width: 576px) {
  .Portfolio__container {
    grid-template-columns: 1fr;
  }
  .img_modal {
    height: 300px;
  }
}
